
<% include header %>
  
    <% if(articles){ %>
    <% articles.forEach(function(article){ %>
   
            <!-- A wrapper for all the blog posts -->
            <div class="posts">
               

                <!-- A single blog post -->
                <section class="post">
                    <header class="post-header">

                        <a href="/blog/article/<%=article.title.replace(/\s/g,'-')%>" ><h2 class="post-title"><%= article.title %></h2></a>

                        <p class="post-meta">
                            Posted by <a href="#" class="post-author"><%= article.author %></a> on 
                            <%=article.createdAt.getFullYear()%>/<%=article.createdAt.getFullMonth()%>/<%=article.createdAt.getDay()%>
                        </p>
                    </header>

                    <div class="post-description">
                        <p>
                           <%= article.preview %>
                        </p>
                    </div>
                </section>
            </div>
            <!-- /news section -->
            <% }); } else { %>
             Haven't posted anything go <a href="/post">here</a>
        <% } %>
            <!-- recent articles -->
 <% include footer %>       

        
