<% include header %>

<h1>Welcome <%= user.displayName %> </h1>
<h2>Admin: <%= user.admin %> </h2>
<h3>Summary</h3>
<p>Object_id: <%= user.id %> </p>
<p>email: <%= user.email %> </p>
<p>displayName: <%= user.displayName %> </p>
<p>password: <%= user.password %> </p>
<p>Bio: <%= user.bio %> </p>

<% include footer %>